{% extends "base.html" %}

{% block title %}Dashboard V2{% endblock %}

{% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <h1>Dashboard - Vista Alternativa</h1>
  </section>

  <section class="content">
    <div class="card card-success">
      <div class="card-header">
        <h3 class="card-title">Estadísticas</h3>
      </div>
      <div class="card-body">
        <p>Contenido dummy para <b>dashboard_v2.html</b>.</p>
      </div>
    </div>
  </section>
</div>
{% endblock %}